body {
    font-family: 'Rubik', sans-serif;
    line-height: 1;
    background-color: rgb(226, 230, 234);
}


.popup-box .active2 .popup-box .active2:hover {
    cursor: pointer;
    background-color: var(--main-color-alt);
}

/* Content styling */
.container {
    max-width: 80rem;
    margin: 7.2rem auto;
    padding: 1.8rem;

    display: grid;
    grid-template-columns: 1fr;
    gap: 2.4rem;
}

.manage-profile-data {
    border-radius: 12px;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    -ms-border-radius: 12px;
    -o-border-radius: 12px;

    overflow: hidden;
}

.form-header {
    text-align: center;
    background-color: var(--main-color);
    color: white;
    font-size: 1.8rem;

    padding: 1.6rem;
    margin-top: 0;
}

.edit-data-form {
    background-color: white;

    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    row-gap: 1.8rem;
    column-gap: 1rem;

    padding: 1.8rem;
}

.field-container {
    width: 100%;
    grid-column: 1/3;

    display: grid;
    grid-template-columns: 1fr 3fr;
    align-items: center;
}

.required-service {
    width: 60%;
}

.label {
    font-size: 1.6rem;
    color: rgb(107, 103, 102);
    font-weight: 400;
}

.input-field {
    height: 3.6rem;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;

    color: rgb(70, 70, 70);

    border: 1px solid rgb(175, 175, 175);
    outline: none;
    font-size: 1.4rem;

    padding-left: 1.2rem;
    padding-right: 1.2rem;
}

.input-field:focus {
    border: 2px solid rgb(0, 112, 205);
}

.required {
    color: red;
}

.btns-container {
    margin-top: 1.8rem;
    overflow: hidden;

    display: grid;
    grid-template-columns: 1fr 3fr;
}

.btns {
    grid-column: 2/3;

    display: grid;
    grid-template-columns: 1fr 1fr;
}

.btn {
    width: 95%;
    padding: 1.4rem;
    font-size: 1.4rem;
    font-weight: 600;
    background: none;
    border: none;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;

    cursor: pointer;
}

.send {
    background-color: var(--main-color);
    text-transform: uppercase;
    color: white;
    margin-right: 1rem;
}

.send:hover {
    background-color: rgb(0, 104, 189);
}

.reset {
    background-color: rgb(245, 245, 245);
    color: rgb(96, 96, 96);
}

.reset:hover {
    background-color: rgb(222, 222, 222);
}



/* Responsive */
@media (max-width: 910px) {
    .container {
        grid-template-columns: 1fr;
    }
}

@media (max-width: 610px) {
    .edit-data-form {
        grid-template-columns: 1fr;
    }

    .field-container {
        grid-template-columns: 1fr;
    }

    .label {
        margin-bottom: 0.9rem;
    }

    .required-service {
        width: 100%;
    }

    .btns {
        max-width: 100%;
        grid-column: 1/3;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .btn {
        width: 48%;
        padding: 1.2rem;
        font-size: 1.3rem;
    }

    .edit-data-form {
        column-gap: 0;
    }
}